@import "./components/toggle.css";
@import "./components/checkbox.css";
@import "./components/button.css";
@import "./components/table.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.blackBackground {
  background-color: var(--vp-c-neutral);
  color: var(--vp-c-neutral-inverse);
  transition: all 0.2s;
}
