@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply flex cursor-pointer items-center justify-center rounded-md px-4 py-2 text-[--vp-c-brand-1];
    border: 2px solid var(--vp-c-brand-1);

    &:hover {
      @apply bg-[--vp-c-gray-3] text-[--vp-c-brand-1];
    }
  }

  .btn.btn-primary {
    @apply bg-[--vp-c-brand-1] text-white;
    &:hover {
      @apply bg-[--vp-c-brand-2] text-white;
    }
  }

  .btn.btn-link {
    @apply text-[--vp-c-brand-1];
    border: 0px;
    &:hover {
      @apply bg-[--vp-c-gray-3];
    }
  }

  .btn.btn-select {
    &:hover {
      @apply bg-[--vp-c-brand-3] text-white;
    }
  }

  .btn-selected {
    @apply bg-[--vp-c-brand-1] text-white;
    &:hover {
      @apply bg-[--vp-c-brand-2] text-white;
    }
  }

  input.switch {
    @apply relative h-6 w-12 cursor-pointer appearance-none;
    &::before {
      @apply absolute flex h-6 w-12 rounded-full border-[0.1rem] border-black content-['_'];
    }
    &::after {
      @apply absolute bottom-[0.25rem] left-[0.25rem] flex h-4 w-4 rounded-full bg-black content-['_'];
    }
    &:checked {
      &::before {
        @apply border-[--vp-c-brand-1];
      }
      &::after {
        @apply left-auto right-[0.25rem] bg-[--vp-c-brand-1];
      }
    }
  }
}

.blackBackground {
  background-color: black;
  color: white;
  transition: all 0.2s;
}
