@import "./components/toggle.css";
@import "./components/button.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.blackBackground {
  background-color: black;
  color: white;
  transition: all 0.2s;
}
